# 依存関係
node_modules/
pnpm-lock.yaml

# ビルド出力
/dist/
/build/

# 設定ファイル
.env
.env.local
.env.development
.env.production

# キャッシュ & ログ
.cache/
/logs/
/temp/

# その他
*.log
/coverage/
app/gql
.next
__test__/
coverage/
html-report
README.md